@model ActionResultTurleri.Models.Urun 

<h1>Partail Geldi</h1>
<hr />
<ul>
    <li>
        Ürün Adı: @Model.Adi
    </li>
    <li>
        Ürün Fiyatı: @Model.Fiyati
    </li>
    <li>
        Ürün Kodu: @Model.Id
    </li>
</ul>
